<div class="col-12">
    <header class="py-2 border-bottom d-flex align-items-center">
        <span>
            {{ avatar(comment.author) }}
        </span>

        <div class="ms-3">
            <span class="fw-bold d-block">{{ comment.author.username }}</span>
            <span class="small d-block">{{ comment.createdAt | date('d/m/Y h:i') }}</span>
        </div>
    </header>

    <div class="mt-2">
        {{ comment.content }}
    </div>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <footer class="d-flex justify-content-end align-items-center">
            {% if is_granted('COMMENT_ACCESS', comment) %}
                <a title="modifier" class="link-info" href="#">
                    <i class="bi bi-pencil-square h5"></i>
                </a>

                <div class="dropdown">
                    <a title="supprimer" class="dropdown-toggle mx-2 link-danger" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-trash3 h5"></i>
                    </a>

                    <ul class="dropdown-menu border p-3" style="width: 250px">
                        <p>Voulez-vous supprimer ce commentaire ?</p>
                        <button class="btn btn-danger btn-sm scale"
                                data-action="live#action"
                                data-action-name="removeComment(index={{ key }})"
                        >Supprimer</button>
                    </ul>
                </div>
            {% endif %}

            {% if "ROLE_ADMIN" not in comment.author.roles %}
                <div class="dropdown">
                    <a class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-exclamation-diamond h5"></i>
                    </a>

                    <ul class="dropdown-menu border p-3" style="width: 250px">
                        <form>
                            <div class="mb-3">
                                <label class="form-label">Raison</label>
                                <input data-model="norender|reason" type="text" class="form-control"/>
                            </div>
                            <button type="button"
                                    data-action="live#action"
                                    data-action-name="signaledComment(id={{ comment.id }})"
                                    class="btn btn-sm scale btn-warning">Signaler</button>
                        </form>
                    </ul>
                </div>
            {% endif %}
        </footer>
    {% endif %}
</div>