<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
        
        <title>{% block title %}SnowTricks{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>

    {% set routes = ['user.register', 'app_login', 'user.forget.password', 'user.reset.password'] %}
    
    <body class="{{ html_classes("bg-light", {
            "vh-100 d-flex": app.request.attributes.get('_route') in routes
        }) }}">

        {% if app.request.attributes.get('_route') not in routes %}
            {% include 'front/partials/_navbar.html.twig' with {'trick': trick ?? null} %}
        {% endif %}

        <main class="{{ html_classes("wrap py-4 bg-white overflow-hidden", {
            "col-12 col-md-8 col-lg-6 col-xl-4": app.request.attributes.get('_route') in routes
        }) }}">
            <div class="container position-relative">
                {% block body %}{% endblock %}

                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        {{ component('toast', {
                            'message': message,
                            'type': label,
                            'show': true,
                        }) }}
                    {% endfor %}
                {% endfor %}

            </div>
        </main>
        {% if app.request.attributes.get('_route') not in routes %}
            {% include 'front/partials/_footer.html.twig' %}
        {% endif %}
    </body>
</html>
