<div{{ attributes.defaults({ class: 'col-12' }) }}>

    <article class="d-md-flex">
        <div class="col-md-3 flex-shrink-0">
            <img class="img-fluid scale" src="{{ asset("/images/trick/" ~ trick.featured.path) }}" alt="{{ trick.featured.alt }}">
        </div>

        <div class="flex-grow-1 ms-md-4">
            <header class="my-3 mt-md-0 mb-md-2 d-xl-flex justify-content-between align-item-center">
                <h4 class="mb-0 h5 fw-bold">{{ trick.title }}</h4>
                <span class="text-small">{{ trick.createdAt | date('d/m/Y') }}</span>
            </header>

            <div>
                <p class="mb-1 fst-italic">{{ trick.category.name }}</p>
                <p>{{ trick.content |u.truncate(100, ' ...', false) | raw }}</p>
                <p>
                    <a href="{{ path('trick.show', {slug: trick.slug}) }}" class="btn btn-action scale btn-sm shadow-sm">Lire la suite</a>
                </p>
            </div>
        </div>
    
    </article>
</div>
