<div{{ attributes.defaults({ class: 'col-12' }) }}>
    <header class="py-2 border-bottom d-flex align-items-center">
        <span>
            {{ avatar(comment.author) }}
        </span>

        <div class="ms-3">
            <span class="fw-bold d-block">{{ comment.author.username }}</span>
            <span class="small d-block">{{ comment.createdAt | date('d/m/Y h:i') }}</span>
        </div>
    </header>

    <div class="mt-2">
        {{ comment.content }}
    </div>

    {% if is_granted('IS_AUTHENTICATED_FULLY') and this.isSignaled == false %}
    <footer class="d-flex justify-content-end align-items-center">
        {% if is_granted('COMMENT_ACCESS', comment) %}
            <a title="modifier" class="link-info" href="#">
                <i class="bi bi-pencil-square h5"></i>
            </a>

            <a title="supprimer" class="mx-2 link-danger" href="#">
                <i class="bi bi-trash3 h5"></i>
            </a>
        {% endif %}

        {% if "ROLE_ADMIN" not in comment.author.roles %}
            <div class="dropdown">
                <a class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-exclamation-diamond h5"></i>
                </a>
                <ul class="dropdown-menu border p-3" style="width: 250px">
                {{ form_start(form, {
                    attr: {
                        'data-action': 'live#action',
                        'data-action-name': 'prevent|save'
                    }
                }) }}

                {{ form_row(form.reason) }}

                <button class="btn btn-sm scale btn-primary">Signaler</button>

                {{ form_end(form) }}
                </ul>
            </div>

        {% endif %}
    </footer>
    {% endif %}

    {% if this.isPersist %}
        {{ component('toast', {
            'message': 'Le commentaire a bien été signalé',
            'type': 'success',
            'show': true,
        }) }}
    {% endif %}
</div>
