<div{{ attributes.defaults({ class: 'mt-5' }) }}>

    <header class="mb-4">
        {# <h4 class="h5 fw-bold">{{ plurial(this.count, 'Commentaire', 'Commentaires') }} ({{ this.count }})</h4> #}
    </header>


    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
        <section class="bg-light p-3 mb-4 fw-bold">
            <p>Pour ajouter un commentaire, vous devez être connecté</p>
            <p class="mb-0">
                <a class="btn btn-action scale" href="{{ path('app_login') }}">Connexion</a>
            </p>
        </section>
    {% endif %}

    <div class="row g-5 mb-4">
        {% for key, comment in computed.comments %}
            {% if comment.commentSignaled is null %}
                {% include "front/partials/_comment.html.twig" with {'comment': comment, 'key': key} %}
            {% endif %}
        {% endfor %}
    </div>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {{ form_start(form) }}
            {{ form_row(form.content) }}
            <button type="button"
                    data-action="live#action"
                    data-action-name="addComment"
                    class="btn btn-sm btn-primary scale">Poster</button>
        {{ form_end(form) }}
    {% endif %}

    {% if changes is not empty %}
        {{ component('toast', {
            'message': changes.message,
            'type': changes.label,
            'show': true,
        }) }}
    {% endif %}
</div>
